* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-image: url(./img/Bitmap.png);
  background-position: center;
  background-repeat: space;
  height: 700px;
  color: #ffffff;
}

.head-top {
  display: flex;
  justify-content: space-around;
}
.head-top h1 {
  padding-top: 46px;
  font-size: 20px;
  font-weight: bold;
}

.head-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.head-top-right p {
  font-size: 14px;
}
.head-top-right .text-head-left {
  border: 1px solid white;
  border-radius: 40px;
  margin-left: 19px;
  padding: 10px 18px;
}

.head-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 252px;
  margin-top: 10%;
}
.head-bottom h1 {
  font-size: 52px;
  font-weight: bold;
  text-align: center;
}
.head-bottom p {
  font-size: 24px;
}
.head-bottom .text-head-botton {
  border: 1px solid #FF4E50;
  border-radius: 40px;
  background-color: #FF4E50;
  font-size: 14px;
  padding: 11px 19px;
  cursor: pointer;
}

main {
  padding-left: 17.36%;
  padding-right: 17.36%;
}

.section {
  padding-top: 90px;
}
.section h3 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.three_cards {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.three_cards p {
  font-size: 14px;
  color: #E3E3E3;
}

.card {
  width: 32%;
  height: 400px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.thumb1 {
  height: 50%;
}

.thumb2 {
  height: 58%;
}

.thumb3 {
  height: 50%;
}

.one1 {
  background-image: url(../img/Step1image.png);
}

.two1 {
  background-image: url(../img/Step2image.png);
}

.three1 {
  background-image: url(../img/Step3image.png);
}

.botton {
  width: 70px;
  border: 1px solid #FF4E50;
  border-radius: 40px;
  background-color: #FF4E50;
  padding: 4px 14px;
  cursor: pointer;
}

p.botton {
  font-size: 10px;
  color: white;
}

.three_places {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.places {
  width: 23.4%;
  height: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.places img {
  width: 120px;
  height: 120px;
}
.places h4 {
  font-weight: bold;
}
.places p.place {
  font-weight: light;
  color: #666666;
  text-align: center;
}

#btn {
  display: flex;
  justify-content: center;
}

.btn-other {
  margin-top: 35px;
  width: 182px;
  border: 1px solid #FF4E50;
  border-radius: 40px;
  padding: 12px 19px 11px 24px;
  cursor: pointer;
  color: #FF4E50;
  font-size: 14px;
  font-weight: bold;
}

.three {
  padding-top: 85px;
}

#container {
  padding-top: 35px;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-areas: "block1 block2 block3" "block4 block5 block5" "block6 block6 block7";
}
#container div {
  border: 1px solid #ffffff;
  height: 310px;
  min-width: 300px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#container .block1 {
  grid-area: block1;
  background: url(../img/img1.png);
}
#container .block2 {
  grid-area: block2;
  background: url(../img/img2.png);
}
#container .block3 {
  grid-area: block3;
  background: url(../img/img3.png);
}
#container .block4 {
  grid-area: block4;
  background: url(../img/img4.png);
}
#container .block5 {
  grid-area: block5;
  background: url(../img/img5.png);
}
#container .block6 {
  grid-area: block6;
  background: url(../img/img6.png);
}
#container .block7 {
  grid-area: block7;
  background: url(../img/img7.png);
}

.four {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 251px;
}

.reg {
  padding-top: 52px;
  width: 482px;
  height: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg h6 {
  font-size: 18px;
  font-weight: lighter;
  line-height: 14px;
  color: #666666;
}

.search {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 482px;
}
.search input {
  width: 300px;
  border: 1px solid #666666;
  border-radius: 3px;
  padding: 14px;
}
.search .btn-search {
  border: 1px solid #FF4E50;
  background-color: #FF4E50;
  border-radius: 40px;
  width: 174px;
  max-height: 40px;
  padding: 12px 25px 11px 30px;
}
.search p {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

footer {
  margin-top: 100px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #FF4E50;
}
footer div.foot {
  margin-top: 40px;
  margin-left: 17.3%;
  margin-right: 17.3%;
  display: flex;
  justify-content: space-between;
}
footer div.foot div.f-left {
  width: 57.9%;
  display: flex;
  justify-content: space-between;
}
footer div.foot div.f-left div.line h2 {
  font-size: 16px;
  color: #FF4E50;
}
footer div.foot div.f-left div.line h5 {
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: bold;
  color: #444444;
}
footer div.foot div.f-left div.line .second.table {
  display: flex;
  flex-direction: column;
}
footer div.foot div.f-left h6 {
  line-height: 26px;
  font-size: 14px;
  color: #999999;
}
footer div.foot div.f-right p {
  font-size: 10px;
  font-weight: bold;
  color: #cccccc;
  letter-spacing: 1px;
  text-align: end;
  margin-bottom: 7px;
}

@media screen and (max-width: 1439px) {
  header {
    background-image: url(../img/Bitmap.png);
    background-position: center;
    background-repeat: space;
    height: 700px;
  }

  .head-top {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .head-bottom {
    margin-top: 19%;
  }

  main {
    padding-left: 1.3%;
    padding-right: 1.3%;
  }

  .section {
    padding-top: 90px;
  }

  h3 {
    font-size: 22px;
  }

  .one1 {
    background-repeat: round;
  }

  .two1 {
    background-repeat: round;
  }

  .three1 {
    background-repeat: round;
  }

  .card {
    padding-left: 20px;
    padding-right: 20px;
  }

  .three_places {
    height: 508px;
    padding-top: 35px;
    padding-left: 128px;
    padding-right: 128px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: black;
  }

  .places {
    width: 225px;
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  .places img {
    width: 120px;
    height: 120px;
  }
  .places h4 {
    font-weight: bold;
  }
  .places p.place {
    height: 236px;
    font-weight: light;
    color: #666666;
  }

  #container {
    padding-top: 35px;
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-areas: "block1 block2 block3" "block4 block5 block5" "block6 block6 block7";
  }

  div {
    min-width: 236px;
  }

  .block1 {
    grid-area: block1;
    background: url(../img/img1.png);
  }

  .block2 {
    grid-area: block2;
    background: url(../img/img2.png);
  }

  .block3 {
    grid-area: block3;
    background-repeat: round;
    background-image: url(../img/img3.png);
  }

  .block4 {
    grid-area: block4;
    background: url(../img/img4.png);
  }

  .block5 {
    grid-area: block5;
    background-repeat: round;
    background-image: url(../img/img5.png);
  }

  .block6 {
    grid-area: block6;
    background: url(../img/img6.png);
  }

  .block7 {
    grid-area: block7;
    background-repeat: round;
    background-image: url(../img/img7.png);
  }

  footer div.foot {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
  }
  footer div.foot div.f-left {
    display: flex;
    justify-content: space-between;
  }
  footer div.foot div.f-left div.line h2 {
    font-size: 16px;
    color: #FF4E50;
  }
  footer div.foot div.f-left div.line h5 {
    margin-bottom: 11px;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
  }
  footer div.foot div.f-left div.line .second.table {
    display: flex;
    flex-direction: column;
  }
  footer div.foot div.f-left h6 {
    line-height: 26px;
    font-size: 14px;
    color: #999999;
  }
  footer div.foot div.f-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  footer div.foot div.f-right p {
    font-size: 10px;
    font-weight: bold;
    color: #cccccc;
    letter-spacing: 1px;
    text-align: end;
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 767px) {
  header {
    background-image: url(../img/Bitmap.png);
    background-repeat: space;
    background-size: cover;
    height: 540px;
    color: #f3eeee;
  }

  .head-top {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .head-top h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .head-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .head-top-right p {
    font-size: 14px;
  }
  .head-top-right .text-head-left {
    border: 1px solid white;
    border-radius: 40px;
    margin-left: 19px;
    padding: 10px 18px;
  }

  .head-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 184px;
    margin-top: 10%;
    padding-top: 30px;
  }
  .head-bottom h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .head-bottom p {
    font-size: 18px;
  }
  .head-bottom .text-head-botton {
    margin-top: 30px;
    border: 1px solid #FF4E50;
    border-radius: 40px;
    width: 87.8%;
    background-color: #FF4E50;
    font-size: 14px;
    padding: 11px 19px;
    cursor: pointer;
  }

  .section {
    padding-top: 35px;
  }
  .section h3 {
    font-size: 22px;
  }

  .three_cards {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }
  .three_cards .card {
    width: 94%;
    height: 240px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .three_cards .thumb1 {
    height: 25%;
  }
  .three_cards .thumb2 {
    height: 35%;
  }
  .three_cards .thumb3 {
    height: 20%;
  }

  .three_places {
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    color: black;
  }

  .places {
    width: 236px;
    height: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  .places img {
    width: 120px;
    height: 120px;
  }
  .places h4 {
    font-weight: bold;
  }
  .places p.place {
    font-weight: light;
    color: #666666;
    text-align: center;
  }

  #btn {
    margin-top: 380px;
    display: flex;
    justify-content: center;
  }

  .btn-other {
    margin-top: 35px;
    width: 282px;
    border: 1px solid #FF4E50;
    border-radius: 40px;
    padding: 12px 19px 11px 24px;
    cursor: pointer;
    color: #FF4E50;
    font-size: 14px;
    font-weight: bold;
  }

  .three {
    padding-top: 35px;
  }

  #container {
    padding-top: 35px;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-areas: "block1" "block2" "block3" "block4" "block5" "block6" "block7";
  }
  #container div {
    border: 1px solid #ffffff;
    height: 120px;
    min-width: 300px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #container .block1 {
    grid-area: block1;
    background-repeat: space;
    background-image: url(../img/img1.png);
    background-position: center;
  }
  #container .block2 {
    grid-area: block2;
    background-repeat: space;
    background-image: url(../img/img2.png);
    background-position: center;
  }
  #container .block3 {
    grid-area: block3;
    background-repeat: space;
    background-image: url(../img/img3.png);
    background-position: center;
  }
  #container .block4 {
    grid-area: block4;
    background-repeat: space;
    background-image: url(../img/img4.png);
    background-position: center;
  }
  #container .block5 {
    grid-area: block5;
    background-repeat: space;
    background-image: url(../img/img5.png);
    background-position: center;
  }
  #container .block6 {
    grid-area: block6;
    background-repeat: space;
    background-image: url(../img/img6.png);
    background-position: center;
  }
  #container .block7 {
    grid-area: block7;
    background-repeat: space;
    background-image: url(../img/img7.png);
    background-position: center;
  }

  .four {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 251px;
    width: 280px;
  }

  .reg {
    padding-top: 9px;
    width: 280px;
    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reg h6 {
    font-size: 18px;
    font-weight: lighter;
    line-height: 14px;
    color: #666666;
  }

  .search {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 482px;
    height: 90px;
    align-content: space-between;
  }
  .search input {
    margin-left: 20px;
    width: 280px;
    border: 1px solid #666666;
    border-radius: 3px;
    padding: 14px;
  }
  .search .btn-search {
    border: 1px solid #FF4E50;
    background-color: #FF4E50;
    border-radius: 40px;
    width: 280px;
    max-height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 12px 25px 11px 30px;
  }
  .search p {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }

  footer {
    margin-top: 40px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #FF4E50;
  }
  footer div.foot {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer div.foot div.f-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer div.foot div.f-left div.line {
    text-align: center;
  }
  footer div.foot div.f-left div.line h2 {
    font-size: 16px;
    color: #FF4E50;
    text-align: center;
  }
  footer div.foot div.f-left div.line h5 {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
  }
  footer div.foot div.f-left div.line .table {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 280px;
    flex-wrap: wrap;
  }
  footer div.foot div.f-left h6 {
    margin-left: 5px;
    line-height: 26px;
    font-size: 14px;
    color: #999999;
  }
  footer div.foot div.f-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=output.css.map */
